<!DOCTYPE HTML>
<html>
<head>
    <title>Произошла ошибка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Произошла ошибка {{exception}}</div>
</body>
</html>